<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level [%X{spring.application.name},%X{traceId},%X{spanId}] %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>
  <appender name="OpenTelemetry"
            class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
            <captureExperimentalAttributes>true</captureExperimentalAttributes>
            <captureMdcAttributes>*</captureMdcAttributes>
            <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
            <captureMarkerAttribute>true</captureMarkerAttribute>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- use the previously created timestamp to create a uniquely
         named log file -->
    <file>log-cfi-0.log</file>
    <encoder>
       <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level [%X{spring.application.name},%X{traceId},%X{spanId}] %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="OpenTelemetry"/>
    <appender-ref ref="FILE" />

  </root>

</configuration>